<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Умная загрузка</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <section class="upload__intro">
        <h2 class="upload__title">
            <a href="/" class="upload__tab">
                Сервис загрузки изображений
            </a>
        </h2>
        <p class="upload__description">Загружайте сюда селфи, мемы или любые забавные картинки.</p>
    </section>
    <nav class="upload__tabs">
        <a href="/upload" class="upload__tab " id="images-tab-btn">
            Загрузите изображение
        </a>
        <a href="/images/" class="upload__tab " id="images-tab-btn">
            Загруженные изображения
        </a>
    </nav>
    <section id="file-list-wrapper" class="upload__form">
        <table class="file-table">
            <thead>
            <tr>
                <th>Превью</th>
                <th>Имя файла</th>
                <th>Публичная ссылка</th>
            </tr>
            </thead>
            <tbody>
            {% for image in images %}
            <tr>
                <td class="preview-cell">
                <img
                    src="/images/{{ image }}"
                    alt="{{ image }}"
                    class="preview-thumb"
                >    
                </td>
                <td class="filename-cell" title="{{ image }}">
                {{ image }}
                </td>
                <td class="link-cell">
                    <div class="upload__label">
                        <input
                            type="text"
                            class="upload__input public-link-input"
                            value="{{ request.app.url_path_for('images', path=image) }}"
                            title="{{ request.app.url_path_for('images', path=image) }}"
                            readonly
                        >    
                        <button class="upload__copy">КОПИРОВАТЬ</button>
                    </div>
                    <a
                        href="{{ request.app.url_path_for('images', path=image) }}"
                        class="copy-btn"
                        target="_blank"
                        rel="noopener"
                    >
                        Открыть
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
</body>
<script src="../js/upload.js"></script>

</html>