<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Хостинг изображений</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
     <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>
        <div class="header">
            <h1 class="header__title">Сервис загрузки изображений</h1>
            <p class="header__text">Загружайте сюда селфи, мемы или любые забавные картинки.</p>
        </div>
        <div class="header__button">
            <a href="/upload" class="header__button-btn">
                Перейти на страницу загрузки
            </a>
        </div>
    </header>
    <main>
        <div class="hero">
            {% for image in images %}
                <div class="hero__img">
                    <img 
                    class="img" 
                    src="{{ url_for('images', path=image) }}" 
                    alt="{{ image }}">
                </div>
            {% endfor %}
        </div>
    </main>
</body>
<script src="./js/index.js"></script>

</html>