<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Умная загрузка</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <section class="upload__intro">
        <h2 class="upload__title">
            <a href="/" class="upload__tab">
                Сервис загрузки изображений
            </a>
        </h2>
        <p class="upload__description">Загружайте сюда селфи, мемы или любые забавные картинки.</p>
    </section>
    <nav class="upload__tabs">
        <a href="/upload" class="upload__tab " id="images-tab-btn">
            Загрузите изображение
        </a>
        <a href="/images" class="upload__tab " id="images-tab-btn">
            Загруженные изображения
        </a>
    </nav>
    <section class="upload__form">
        <div class="upload__dropzone" id="dropzone">
            <div class="upload__icon">
                <img src="../img/icon/feather_upload-cloud.png" alt="icon">
            </div>
            <p class="upload__promt">Выберите файл или перетащите его сюда</p>
            <p class="upload__info">Поддерживаются только форматы ".png", ".jpg", ".jpeg", ".webp", ".gif". <br>
                Максимальный размер файла — 5 МБ
            </p>
            <input type="file" id="file-upload" class="upload__input-hidden" accept=".jpg,.jpeg,.png,.gif" hidden>
        </div>
        <div class="upload__button">
            <label for="file-upload" class="upload__button-btn">Обзор файлов</label>
        </div>
        <div class="upload__container">
            <div class="upload__group">
                <h2 class="upload__title-current">Текущая загрузка</h2>
                <div class="upload__label">
                    <input type="text" class="upload__input" placeholder="https://" readonly />
                    <button class="upload__copy">КОПИРОВАТЬ</button>
                </div>
            </div>
        </div>
    </section>
    <section id="file-list-wrapper">
    </section>
</body>
<script src="../js/upload.js"></script>

</html>